body {
  font-size: 18px;
}

header,
main,
footer {
  max-width: 760px;
  margin: 0 auto;
}
header,
footer {
  text-align: center;
  color:#FFF;  
  padding: .8rem;
  background-color: #4766ff;
  
}

header img {
  width: 250px;
  height: auto;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #000;
}

main{
  grid-template-columns: 1fr;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

body {
    font-family: 'Open Sans', sans-serif;
  }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
}  

h1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #000;
}

h2 {
  font-size: 1rem;
  margin-left: 0.5rem;
  text-align: center;
}
