@media only screen and (min-width: 32.5em){

    header,
footer {
  border-radius: 5%;
 
}
main{
    grid-template-columns: 1fr 1fr;
}

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }

    header img {
        float: right;
      }

}

