@media only screen and (min-width: 80em){
    main{
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }
    section:nth-child(2){
        display: block;
        }    
    section:nth-child(3){
        grid-column: span 2;
    }

}