body {
    font-size: 18px;
    background-color: #8ECAE6;
  }
  
  header,
  main,
  nav,
  footer {
    margin: 0 auto;
  }
  
  header, footer {
    text-align: center;
    color:#FB8500;  
    padding: .8rem;
    background-color: #023047;
    }
  
  header{
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; 
  }
  
  header img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #79e0f7;
  }
  
  
  li, ul {
      list-style-type: circle;

  }   
  
  
  body {
      font-family: 'lato', sans-serif;
      color: #023047;
    
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat Slab', sans-serif;
    padding: 1rem;
  }  
  
  h1 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px #000;
  }
  
  h2 {
    font-size: 1rem;
    text-align: center;
  }
  
img{
  padding: .5rem;
}
  
  .card {
    display: grid;
    align-items: center;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    background-color: #219EBC;
    box-shadow: 2px 2px 10px #000;
    padding: 1rem;
  }
  
  .activemenu {
    color: yellow;
  
  }
  