:root {
  --border-color: #999;
  --input-color: #555;
  --title-color: #FB8500;
  --backgroung-color: #023047;
}



body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--backgroung-color);
}
  
header,
main,
nav,
footer {
    margin: 0 auto;
}
  
header, footer {
  text-align: center;
  color:#FB8500;  
  padding: .8rem;
  background-color: #023047;
}
  
header{
  border: 1px solid #000;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 100px;
  align-items: center;
  box-shadow: 0 0 30px #333; 
}
  
nav {
  margin: 0 auto;
  color: #023047; 
} 
  
nav a {
  display: block;
  color: #FFB703;
  text-decoration: none;
  padding: 0.75rem;
  flex: 1 1 auto;
  text-align: left;
}

nav ul {
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none;
  /* display: none; */
    
}  
  
nav a:hover, .navigation a:active {
  color: #023047;
  background-color: #FFB703;
} 


main img {
  width: 120px;
  height: auto;
  border-radius: 5%;
  box-shadow: 2px 2px 10px #000;
  
}

main{
padding: 1.5rem;
/* background-color: rgb(199, 213, 228); */
background-color: rgb(247, 249, 251);
color: #023047;
/* display: grid;
grid-template-columns: 1fr;
grid-gap: 0.5rem;
align-items: center;
text-align: center; */
}


footer{
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; 
}

footer section:nth-child(3){
  grid-column: span 2;
  grid-column: 1/3;
} 


ul {
  list-style-type: none;
  padding: 1rem;
} 
  
  
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
  padding: 1rem;
}  
  
h1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #000;
}
 
h2 {
  font-size: 1rem;
  text-align: center;
}
  
#hmenu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: .5rem .75rem;
  background-color: #023047;
  color: #FB8500;
}

#hmenu::before{
  content: "≡";
}
  
#hmenu.show::before{
  content: "X";
}
  
.navigation {
  list-style: none;
  margin: 0 auto;
}

.navigation li {
  display: none;
}
  
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: #FFB703;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}
  
.show li {
  display: block;
  background-color: #FFF;
}

.hero{
  margin: 10px auto;
  position: relative;
  border: 1px solid #023047;
  height: 300px;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.herolabel {
  position: absolute;
  top: 50px;
  right: 150px;
  color: #FB8500;
  background: #023047;
  border: 4px solid  #4D5B97;
  padding: 0.9rem;
  box-shadow: 0 0 1rem #8ECAE6;
  opacity: 0.8;;
}

.card {
  display: grid;
  align-items: center;
  grid-gap: 2px;
  grid-template-columns: 1fr;
  background-color: #8ECAE6;
  box-shadow: 2px 2px 10px #023047;
  padding: 1rem;
  margin-bottom: 15px;
}

/* Dark Mode */
.dark-mode main .card, body {

background: #333;
color: #fff;
border: #FB8500;

}

.dark-mode main {

  background-color: #000; 
  color: #fff;
  border: #FB8500;
  
  }
  
#dark-toggle::before {
	content: "Dark-Mode";
    
}

#dark-toggle.dark-mode::before {
	content: "Light-Mode";
}

/* Discover */

#discover {
   /* width: 90%;
  height: auto;  */
  grid-template-columns: 1fr;
  display: grid;
  /* align-items: center; */
  text-align: justify;
  color: #023047;
  grid-gap: 0.5rem;
  background-color: rgb(247, 249, 251);

}

#discover-img {
  width: 90%;
  height: auto; 
  /* align-items: center; */
}

#discover h3 {
  font-size: 1.7em;
}

 /* #discover-info{
  /* .grid section {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 2em;
}  
*/
.zoom {
  transition: transform;
}

.zoom:hover {
  transform: scale(1.1);
}

/*       Join Form      */


.joinform fieldset{
  margin: 2rem 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: .5rem 2%;
  text-align: left;
  
}

.joinform legend {
  color: var(--title-color);
  padding: 0 .5rem;
}

.joinform label {
  display: block;
  padding-top: 1rem;
  color: var(--title-color);
  font-size: .9rem;
}

.joinform input[type="text"],
.joinform input[type="password"],
.joinform input[type="tel"],
.joinform input[type="email"]

{
  background-color: #8ECAE6;
  display: block;
  border: solid 1px var(--border-color);
  border-radius: 5px;
  padding: .75rem;
  color: var(--input-color);
  width: 100%;
  max-width: 400px;
  appearance: none;
}

.joinform input[type="radio"]{
  margin-right: 5px;
}

.joinform input[type="submit"]{
  border: none;
  background-image: linear-gradient(#FB8500, #023047);
  color: #fff;
  border-radius: 5px;
  padding: .8rem;
  width: 96%;
  max-width: 400px;
  margin: -1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px var(--border-color);
}

.joinform input:required {
  border-left: solid 8px var(--title-color);

}

.joinform input:required:valid {
  border-left: solid 10px var(--title-color);

}

textarea {
  margin-right: 5px;
  text-align: left;
  background-color: #8ECAE6;
  

}

#control {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  align-items: center;
  text-align: center;
}

.price {
  background-color: var(--backgroung-color);
  color: var(--title-color);
  display: block;
  padding: 20px;
  font-size: 20px;
  border-radius: 5%;
  text-align: center;
}