@media only screen and (min-width: 32.5em){
    /* header{
        
        grid-template-columns: 1fr 100px;
        /* display: flex;
        align-items: center;
        justify-content: space-between; 
    } 
    */   
    nav{
        justify-content: flex-end;
        flex-direction: row;
        background-color: #0f2283;
    }

    /* nav a {
        flex: 1 1 100%;
    } */

    nav ul {
        display: flex;
        flex-direction:row;
    }  
    
    .navigation li {
        display: block;
    }
    main{
        grid-template-columns: 1fr 1fr;
    }
    
    h1{
        font-size: 2rem;
    }
    
    h2{
        font-size: 1.5rem;
    }
    
    header img {
        float: right;
    }
    
    /* section:nth-child(2){
        display: flex;
        flex-direction: row; 
        grid-column: span 2;
        grid-column: 2/3;
        
    } */
    
    #hmenu {
        display: none;
    }
    
    .hero{
        margin: 5px auto;
        border: 1px solid #023047;
        height: 500px;
      }

    .hero img {
        height: 100%;
      }

    .herolabel {
        right: 1%;
     } 

    }
    