body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  max-width: 960px;
  margin: auto;
}

header,
main,
nav,
footer {
  margin: 0 auto;
}

header, footer {
  text-align: center;
  color:#FFF;  
  padding: .8rem;
  background-color: #4766ff;
}

header{
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center; 
}

header img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #79e0f7;
}

nav {
  margin: 0 auto;
} 

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem;
  flex: 1 1 auto;
  text-align: left;
}

nav ul {
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none;  
}  

nav a:hover, .navigation a:active{
    color: #0f2283;
    background-color: #fff;
} 

ul {
    list-style-type: none;
} 

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
  padding: 1rem;
}  

h1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #000;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
}

iframe{
  padding: .5rem;
  width: 100%;
  height: 100%;
  border: #000;
  display: grid;
  align-items: center;
  grid-gap: 2px;
  grid-template-columns: 1fr;
  background-color: #fbfafa;
  box-shadow: 2px 2px 10px #000; 
}

#hmenu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: .5rem .75rem;
  background-color: #eee;
  color: #000;
}

#hmenu::before{
  content: "≡";
}

#hmenu.show::before{
  content: "X";
}

.navigation {
	list-style: none;
	margin: 0 auto;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
  color: #fff;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.show li {
  display: block;
  background-color: #0f2283;
}

.card {
  display: grid;
  align-items: center;
  grid-gap: 2px;
  grid-template-columns: 1fr;
  background-color: #fbfafa;
  box-shadow: 2px 2px 10px #000;
  padding: 1rem;
}

.activemenu {
  color: yellow;
}

.hero{
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
} 

.herolabel {
  position: absolute;
  font-family: Georgia, Times, 'Times New Roman', serif;
  top: 10px;
  left: 20px;
  color: #f2f0ed;
  background: #023047; 
  border: 2px solid  #4D5B97; 
  padding: 0 0.2rem; 
  box-shadow: 0 0 1rem #8ECAE6; 
  opacity: 0.8;;
}

.herolabel p {
  font-size: 16px;
  padding: 5px;
  margin: 0;
}
