body {
  font-size: 18px;
}

header,
main,
footer {
  max-width: 500px;
  margin: 0 auto;
}
header,
footer {
  text-align: center;
  color:#FFF;  
  padding: .8rem;
  background-color: #1b35b4;
  
}

header{
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center; 
}

header img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #000;
}

nav ul {
  list-style-type: none;
}


body {
    font-family: 'Open Sans', sans-serif;
  }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
}  

h1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #000;
}

h2 {
  font-size: 1rem;
  margin-left: 0.5rem;
  text-align: center;
}

.italyic{
  font-style: italic;
}

.card {
  grid-template-columns: 1fr;
  background-color: #ededed;
}
