body {
  font-size: 18px;
}

header,
main,
nav,
footer {
  margin: 0 auto;
}

header, footer {
  text-align: center;
  color:#FFF;  
  padding: .8rem;
  background-color: #4766ff;
  }

header{
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center; 
}

header img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #79e0f7;
}

nav {
  
  margin: 0 auto;
} 

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem;
  flex: 1 1 auto;
  text-align: left;
}
  nav ul {
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none;
  /* display: none; */
  
}  

nav a:hover, .navigation a:active{
    color: #0f2283;
    background-color: #fff;
} 

 ul {
    list-style-type: none;
    padding: 1rem;
} 


body {
    font-family: 'Open Sans', sans-serif;
  
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
  padding: 1rem;
}  

h1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #000;
}

h2 {
  font-size: 1rem;
  text-align: center;
}

iframe{
  padding: .5rem;
  width: 100%;
  height: 100%;
  border: #000;
  display: grid;
  align-items: center;
  grid-gap: 2px;
  grid-template-columns: 1fr;
  background-color: #fbfafa;
  box-shadow: 2px 2px 10px #000; 
}

#hmenu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: .5rem .75rem;
  background-color: #eee;
  color: #000;
}
#hmenu::before{
  content: "≡";
}

#hmenu.show::before{
  content: "X";
}

.navigation {
	list-style: none;
	margin: 0 auto;
}
.navigation li {
	display: none;
 }

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
  color: #fff;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.show li {
  display: block;
  background-color: #0f2283;
}

.card {
  display: grid;
  align-items: center;
  grid-gap: 2px;
  grid-template-columns: 1fr;
  background-color: #fbfafa;
  box-shadow: 2px 2px 10px #000;
  padding: 1rem;
}

.activemenu {
  color: yellow;

}
