@media only screen and (min-width: 80em){

header,
main,
nav,
footer {
  max-width: 1000px;
  margin: 0 auto;
}  

header,
footer {
  border-radius: 3%;
}

main{
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(68, 205, 210);
    border-radius: 3%;
}

nav {
    flex-direction: row;
}
  
h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

header img {
    float: right;
}

}

